<log4net>
  <logger name="DefaultLogger">
    <level value="ALL" />
    <appender-ref ref="DefaultLoggerAppender" />
  </logger>
  <logger name="DebugLogger">
    <level value="ALL" />
    <appender-ref ref="DebugLoggerAppender" />
  </logger>
  <appender name="DefaultLoggerAppender" type="log4net.Appender.RollingFileAppender">
    <file value="ProjectCarsSeasonExtension.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
    </layout>
  </appender>
  <appender name="DebugLoggerAppender" type="log4net.Appender.FileAppender">
    <level value="ALL" />
    <appender-ref ref="DebugLogger" />
    <file value="PCarsExtDebugging.log" />
    <appendToFile value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
    </layout>
  </appender>
</log4net>